extends base

mixin navItem(link, text, icon, isActive=false)
  li(class=`${isActive && 'side-nav--active'}`)
    a(href=`${link}`)
      svg
        use(xlink:href=`img/icons.svg#icon-${icon}`)
      | #{text}

block content 
  main.main
    .user-view
      nav.user-view__menu
        ul.side-nav
          +navItem('/profile/', 'Settings', 'settings', true)
          +navItem('/profile/bookings', 'My bookings', 'briefcase')
          +navItem('/profile/reviews', 'My reviews', 'star')
          +navItem('/profile/billing', 'Billing', 'credit-card')

        if(user.role === 'admin')
          .admin-nav
            h5.admin-nav__heading Admin
            ul.side-nav
              +navItem('admin/manage-tours', 'Manage tours', 'map')
              +navItem('admin/manage-users', 'Manage users', 'users')
              +navItem('admin/manage-reviews', 'Manage reviews', 'star')
              +navItem('admin/manage-bookigs', 'Manage bookigs', 'briefcase')

      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your account settings
          form.form.form-profile-data
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(name='name' type='text' value=`${user.name}`  required)
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(name='email' type='email' value=`${user.email}`, required)
            .form__group.form__photo-upload
              img.form__user-photo(src=`/img/users/${user.photo || 'default.jpg'}` alt=`Photo of user ${user.name}`)
              input#upload-profile-photo.form__upload(type="file" accept='image/*' name="photo")
              label(for='upload-profile-photo') Choose new photo
            .form__group.right
              button.btn.btn--small.btn--green.btn--update-profile Save settings
        .line &nbsp;
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password change
          form.form.form-user-password
            input#email(type='email' hidden value=`${user.email}` autocomplete='username')
            .form__group
              label.form__label(for='current-password') Current password
              input#current-password.form__input(type='password' placeholder='••••••••' required minlength='8' autocomplete='current-password')
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password' placeholder='••••••••' required minlength='8' autocomplete='new-password')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#password-confirm.form__input(type='password' placeholder='••••••••' required minlength='8' autocomplete='new-password')
            .form__group.right
              button.btn.btn--small.btn--green.btn--change-password Save password
